# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# ROS 2
build/
install/
log/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Project artifacts
docs/results/*.npy

# Large files
*.pth
*.db3
*.bag
